@model OZ_SporSalonu.ViewModels.AntrenorViewModel

@{
    ViewData["Title"] = "Antrenör Sil";
}

<h2>Antrenör Sil</h2>
<h3 class="text-danger">Bu antrenörü silmek istediğinizden emin misiniz?</h3>
<hr />

<div>
    <h4>Antrenör Bilgileri</h4>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UzmanlikAlani)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UzmanlikAlani)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Evet, Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Hayır, Geri Dön</a>
    </form>
</div>